<video width="320" height="240" controls="1">
    <source
      src="https://firebasestorage.googleapis.com/v0/b/musicfy-latest0.appspot.com/o/Alan%20Walker%20-%20Play%20(Lyrics)%20ft.%20K-391%2C%20Tungevaag%2C%20Mangoo.mp4?alt=media&token=3153153b-1fa1-4b10-9f2f-4d8fe56f9155"
      type="video/mp4">
  </video>
  <br>
  <video width="320" height="240" controls="1">
    <source
      src="https://firebasestorage.googleapis.com/v0/b/musicfy-6cbac.appspot.com/o/Justin-Baby.mp4?alt=media&token=f8c83604-a365-4c06-aad8-529f3c01892b"
      type="video/mp4">
  </video>